

.form-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #0002;
    backdrop-filter: blur(1px);
    z-index: 1;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease;
}

.close{
    transform: scale(0);

}

.form {
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 2em 1.2em 2.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.form__exit{
    position: absolute;
    right: 1.4em;
    top: 1em;
    cursor: pointer;
    width: 1.5em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.form__exit:hover{
    background-color: crimson;
    color: white;
    font-weight: 600;

}

.form__title{
    font-weight:500;
    font-size: 1.1rem;
    text-align: center;
    text-transform: capitalize;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.form__label{
    font-size: 0.7rem;
    padding-left: 1em;
}
.form__input{
    padding: 0.3em 0.8em;
    font-size: 0.7rem;
    font-weight: 300;
}

.form__btn{
    padding: 0.5em 1em;
    background-color: #555a88;
    color: white;
    font-weight: 500;
    border-radius: 1em;
    margin-top: 0.5em;
}

.form__btn:hover{
    filter: brightness(1.15);
}