.app{
    box-sizing: border-box;
    padding: 2em 1.5em;
    max-width: 1068px;
    margin: 0 auto;
    padding: 0;
    
}

.app__header {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(133, 104, 120);
    opacity: .8;
    position: fixed;
    left: 0;
    top: 0;
    right: 0; 
    height: 80px;
    z-index: 1;
}

.app__title-formOpOk{
    position: absolute;
    left: 50%;
    top:-44px; 
    height: 44px;
    background-color: rgb(209, 114, 128);
    padding: .5em 1em .5em 1em;
    width: 180px;
    margin-left: -90px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    border-radius: 0 0 10px 10px;
    transition: top 300ms;
    opacity: 1;
    
}

.app__title-formOpOkView{
    top: 0px;

}

.app__title{
    font-weight: 600;
    margin-left: 0.8em;
    /* margin-bottom: 1em; */
}



.app__btn {
    background-color: #555a88;
    color: white;
    padding: 0.5em 1.5em;
    margin-right: 2em;
    border-radius: 0.5em;
    transition: transform 200ms ease;
}

.app__btn:hover {
    transform: scale(1.05);
    filter: brightness(1.15);
}

.app__user-container{
    padding-top: 105px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

@media screen and (min-width: 1366px) {
    .app__title{
        margin-left: 9em;
    }

    .app__btn {
        margin-right: 22em;
    }
}

@media screen and (min-width: 1024px) {
    .app__title{
        margin-left: 5em;
    }

    .app__btn {
        margin-right: 8em;
    }
}

@media screen and (min-width: 800px) {
    .app__title{
        margin-left: 3em;
    }

    .app__btn {
        margin-right: 7em;
    }
}